---
title: Achive
layout: default
description: "按时间与标签翻看过去的记录~"
---

<section class="paper archive-paper">
    {% include intro-header.html type='page' short=true %}

    <div id="tag_cloud" class="archive-tags js-tags" aria-label="按标签筛选">
        <button class="tag-button--all" type="button" data-encode="">全部 <sup>{{ site.posts.size }}</sup></button>
        {% capture tags %}
        {% for tag in site.tags %}
        <button type="button" data-sort="{{ site.posts.size | minus: tag[1].size | prepend: '0000' | slice: -4, 4 }}"
            data-encode="{{ tag[0] | strip | url_encode }}" class="tag-button" title="筛选：{{ tag[0] }}" rel="{{ tag[1].size }}">
            {{ tag[0] }} <sup>{{ tag[1].size }}</sup>
        </button>__SEPARATOR__
        {% endfor %}
        {% endcapture %}
        {{ tags | split:'__SEPARATOR__' | sort }}
    </div>

    <div class="archive-list mini-post-list js-result">
        {% assign sorted_posts = site.posts | sort: 'date' | reverse %}
        {% for article in sorted_posts %}
            {% assign encoded_tags = '' %}
            {% for tag in article.tags %}
                {% assign encoded_tag = tag | strip | url_encode %}
                {% unless forloop.first %}{% assign encoded_tags = encoded_tags | append: ',' %}{% endunless %}
                {% assign encoded_tags = encoded_tags | append: encoded_tag %}
            {% endfor %}

            {% assign year = article.date | date: '%Y' %}
            {% if year != current_year %}
                {% unless forloop.first %}</div></div>{% endunless %}
                <div class="archive-year">
                    <h2>{{ year }}</h2>
                    <div class="archive-year__items">
                {% assign current_year = year %}
            {% endif %}

            <article class="archive-item post-preview item" data-tags="{{ encoded_tags }}">
                <time datetime="{{ article.date | date_to_xmlschema }}">{{ article.date | date: '%m.%d' }}</time>
                <a href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a>
            </article>
            {% if forloop.last %}</div></div>{% endif %}
        {% endfor %}
    </div>
</section>
